{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "employee" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h4>{{ employee.fio }}</h4>			
		</div>
		<div class="card-body">
			<h5>{{ employee.department }}</h5>					
			<p>{{ employee.position }}</p>								
		</div>
		<div class="card-footer">
			<p>{% trans "signature" %}: {{ employee.signature }}</p>					
		</div>				
	</div>	
	<br>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'employee_index' %}">{% trans "Back" %}</a>    	
</div>

{% endblock content %}