{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="card-header">
	<h2>{% trans "FAQ" %}</h2>
</div>
<div id="accordion">
	<div class="card" style="width:100%">
		<div class="card-header" id="heading1">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
				Какие существуют типы жилья?
				</button>
			</h5>
		</div>
		<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			<div class="card-body" >							
				<p>Согласно Закону «О жилищных отношениях» по праву собственности существуют следующие типы жилья:</p>
				<ul>
					<li> частный жилищный фонд - жилища, принадлежащие на праве собственности физическим или негосударственным юридическим лицам и их объединениям; </li>
					<li> государственный жилищный фонд - жилища, принадлежащие на праве собственности государству и состоящие из коммунального жилищного фонда, жилищного фонда государственного предприятия, а также жилищного фонда государственного учреждения;</li>
					<li> коммунальный жилищный фонд - жилища, находящиеся в ведении местных исполнительных органов (акиматов), закрепленные за специальным государственным учреждением по предоставлению жилищ в пользование.</li>
					<li> жилищный фонд государственного учреждения - жилища, находящиеся в ведении государственных учреждений, за исключением специального государственного учреждения по предоставлению жилищ в пользование;</li>
					<li> жилищный фонд государственного предприятия - жилища, находящиеся в ведении государственного предприятия.</li>
					<li> арендное жилище без права выкупа – жилище, предоставляемое из коммунального жилищного фонда гражданам Республики Казахстан в пользование за плату без права выкупа.</li>
				</ul>
				<p>Таким образом, жилищный фонд РК состоит из жилищ всех форм собственности.  Жилье от акимата вы можете получить из государственного жилищного фонда или из арендованного акиматом частного жилищного фонда.</p>
				<p>Служебное жилье - жилье с особым правовым режимом, предоставляемое из жилищного фонда государственного учреждения и предназначенное для заселения гражданами РК на период выполнения ими обязанностей, связанных с характером их трудовых отношений, а также гражданами РК, участвующими в активных мерах содействия занятости в соответствии с законодательством РК о занятости населения. Иными словами вы можете получить служебное жилье, если это предусмотрено в вашей организации и соответствуете необходимым условиям. Служебное жилье предоставляется временно, на тот период, пока вы являетесь служащим государственного учреждения.</p>
			</div>
		</div>
	</div>
	<div class="card" style="width:100%">
		<div class="card-header" id="heading2">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
				Кто может претендовать на получение жилья из государственного жилищного фонда?
				</button>
			</h5>
		</div>
		<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>Для постановки в очередь на получение жилья в РК  необходимо постоянно проживать в соответствующем населенном пункте (независимо от срока проживания).</p>
				<p>Коммунальные или государственные квартиры  предоставляются из коммунального жилищного фонда или частного  жилищного фонда (квартиры, арендованные акиматами, входят в этот фонд) следующим лицам:</p>
				<ul>
					<li>ветеранам Великой Отечественной войны (получить справку о наличии льгот онлайн*);</li>
					<li>детям-сиротам, детям, оставшимся без попечения родителей;</li>
					<li>многодетным матерям, награжденным подвесками "Алтын алқа", "Күміс алқа" или получившим ранее звание "Мать-героиня", а также награжденным орденами "Материнская слава" I и II степени, многодетным семьям. Совокупный среднемесячный доход указанных категорий граждан должен составлять за последние двенадцать месяцев перед обращением о предоставлении жилища на каждого члена семьи ниже 3,1-кратного размера прожиточного минимума, установленного на соответствующий финансовый год законом о республиканском бюджете;</li>
					<li>социально уязвимым слоям населения, имеющим совокупный среднемесячный доход за последние двенадцать месяцев перед обращением о предоставлении жилья на каждого члена семьи ниже 3,1-кратного размера прожиточного минимума, установленного на соответствующий финансовый год законом о республиканском бюджете. Коэффициент 3,1-кратного размера прожиточного минимума не распространяется на детей-сирот, детей, оставшихся без попечения родителей, и детей-инвалидов;</li>
					<li>государственным служащим, работникам бюджетных организаций, военнослужащим, кандидатам в космонавты, космонавтам и лицам, занимающим государственные выборные должности;</li>
					<li>гражданам, единственное жилище которых признано аварийным в порядке, установленном законодательством РК.</li>
				</ul>
				<p>*Примечание. Получить справку о наличии льгот (участникам Великой Отечественной войны, ликвидаторам аварий на Чернобыльской АЭС, воинам-интернационалистам) можно онлайн, для этого не нужна ЭЦП. Вы можете помочь родственникам, так как получить справку можно не только на себя, но и на родственника.</p>
				<p>При этом, согласно статье 69 Закона «О Жилищных отношениях» вы являетесь нуждающимися в жилье если:</p>
				<ul>
					<li>вы не имеете жилья на праве собственности на территории РК при постановке на учет и на момент предоставления жилища из коммунального жилищного фонда или жилищного фонда государственного предприятия;</li>
					<li>вы не имеете жилища на праве собственности в данном населенном пункте при постановке на учет и на момент предоставления жилища из жилищного фонда государственного учреждения;</li>
					<li>вы не имеете предоставленного арендного жилища без права выкупа;</li>
					<li>жилье, в котором проживает ваша семья, не отвечает установленным санитарным и техническим требованиям;</li>
					<li>в смежных, неизолированных жилых помещениях проживает две и более семей;</li>
					<li>в составе вашей семьи имеются больные, страдающие тяжелыми формами некоторых хронических заболеваний (по списку заболеваний, утвержденному Правительством РК), при которых совместное проживание с ними в одном помещении (квартире) становится невозможным.</li>
				</ul>						
			</div>
		</div>
	</div>		
	<div class="card" style="width:100%">
		<div class="card-header" id="heading3">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
				Список заболеваний, при котором семье может быть предоставлено дополнительное жилье:
				</button>
			</h5>
		</div>
		<div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<ul>
					<li>Психические заболевания со стойкой психотической симптоматикой и выраженными изменениями личности, при которых совместное жительство со страдающим невозможно для окружающих.</li>
					<li>Органические и посттравматические поражения центральной нервной системы со стойкими тяжелыми нарушениями функций конечностей и функций тазовых органов.</li>
					<li>Каловые, мочевые и влагалищные свищи, стома мочевого пузыря, противоестественный анус.</li>
					<li>Тяжелая форма бронхиальной астмы, непрерывно-рецидивирующее течение, с частыми приступами, осложненной дыхательной недостаточностью III степени.</li>
					<li>Тяжелые формы наследственных прогрессирующих нервно-мышечных дистрофий с выпадением двигательных функций.</li>
					<li>Сахарный диабет I тип, тяжелая форма.</li>
				</ul>
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading4">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
				Кто распределяет жилье от государства?
				</button>
			</h5>
		</div>
		<div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>Жилье из коммунального жилищного фонда или жилище, арендованное местным исполнительным органом в частном жилищном фонде, предоставляется по решению акимата по месту жительства заявителя на основании решения жилищной комиссии и заключенного договора найма жилища.</p>
				<p>Жилье из жилищного фонда государственного предприятия предоставляется на основании решения жилищной комиссии государственного предприятия о предоставлении жилища и заключенного договора найма жилища.</p>
				<p>Жилье из жилищного фонда государственного учреждения предоставляется на основании решения жилищной комиссии государственного учреждения о предоставлении жилища и заключенного договора найма жилища.</p>
				<p>При подаче документов создается жилищная комиссия, по решению которой предоставляется жилье на основании ранее сданных документов. Жилищная комиссия принимает решение о постановке в очередь в течение 30 календарных дней, после чего выдает уведомление с указанным номером очереди.</p>
				<p>Жилищная комиссия – это коллегиальный орган, который создается при акиматах, государственных предприятиях, государственных учреждениях, и уполномочен на вынесение решений по жилищным вопросам. Жилищная комиссия действует на постоянной основе.</p>
				<p>Жилищная комиссия состоит не менее чем из пяти человек (обязательно нечетное количество членов), и в ее состав входят руководитель предприятия (за исключением центральных государственных органов), ответственный секретарь, руководители юридической, финансовой, кадровой служб (при наличии) и представители профсоюзных организаций.</p>
				<p>Жилищная комиссия рассматривает заявления претендентов на жилье, проверяет предоставленные документы на полноту, достоверность, принимает решение об удовлетворении заявления или отказе. В случае аренды определяет размер платы за жилье и вопросы о заключения договора найма (аренды), а в случае приватизации служебного или государственного жилья жилищная комиссия рассматривает вопросы о заключении договора приватизации и предъявляет счет на оплату.  Также жилищная комиссия выполняет запросы в государственные органы по предоставленной информации, производит расчеты и отвечает за сохранность материалов и данных и прочее.</p>							
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading5">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
				На какой размер жилой площади от государства можно претендовать и каким должно быть жилье?
				</button>
			</h5>
		</div>
		<div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>Согласно п.1 статьи 75 Закона «О жилищных отношениях» жилье от государства может быть предоставлено в размере не менее 15 квадратных метров и не более 18 квадратных метров полезной площади на человека, но не менее однокомнатной квартиры или комнаты в общежитии.</p>
				<p>Если в семье есть страдающие заболеваниями, указанными выше, то ему предоставляется отдельная комната. Также площадь получаемой квартиры может быть больше, если в семье есть беременная женщина со сроком беременности более 22 недель.</p>
				<p>Согласно статье 76 Закона «О жилищных отношениях» предоставляемое жилье должно быть благоустроенным, находиться в черте города и с учетом необходимых удобств для инвалидов.</p>							
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading6">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
				Куда обращаться для того, чтобы встать в очередь на жилье и какие документы при этом необходимы?
				</button>
			</h5>
		</div>
		<div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>Существует два пути обращения. Некоммерческое акционерное общество «Государственная корпорация «Правительство для граждан» с  полным пакетом документов.  Сэкономить время на процессе подачи документов для постановки в очередь можно при получении данной государственной услуги онлайн. Для этого необходимо пройти по этой ссылке прикрепить необходимые документы и подписать запрос ЭЦП.</p>							
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading7">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
				Когда я получу жилье от государства, или в каких случаях мне могут отказать?
				</button>
			</h5>
		</div>
		<div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>К сожалению, точно на этот вопрос вам никто не ответит. В течение 30 календарных дней вы получите уведомление о постановке в очередь на получение жилья либо мотивированный ответ об отказе. В уведомлении будет указан также номер вашей текущей очереди. Если документы были поданы онлайн – то уведомление придет в ваш личный кабинет, а если в акимате, то можно забрать лично либо вам пришлют почтой.</p>
				<p>Очень удобно отслеживать очередь на получение жилья онлайн. Для этого нет необходимости получать ЭЦП и абсолютно неважно, каким образом были поданы документы. Достаточно указать ИИН и регион, в котором вы состоите в очереди.</p>
				<p>Порядок очередности может меняться, существуют группы граждан, согласно которым предоставляется жилье (по каждой группе существует своя очередь):</p>
				<ul>
					<li>ветеранам Великой Отечественной войны;</li>
					<li>детям-сиротам, детям, оставшимся без попечения родителей;</li>
					<li>многодетным матерям, награжденным подвесками "Алтын алқа", "Күміс алқа" или получившим ранее звание "Мать-героиня", а также награжденным орденами "Материнская слава" I и II степени, многодетным семьям. Совокупный среднемесячный доход указанных категорий граждан должен составлять за последние двенадцать месяцев перед обращением о предоставлении жилища на каждого члена семьи ниже 3,1-кратного размера прожиточного минимума, установленного на соответствующий финансовый год законом о республиканском бюджете;</li>
					<li>социально уязвимые слои населения;</li>
					<li>государственные служащие, работники бюджетных организаций, военнослужащие, кандидаты в космонавты, космонавты и лица, занимающие государственные выборные должности;</li>
					<li>граждане, единственное жилище которых признано аварийным в порядке, установленном законодательством РК.</li>
				</ul>
				<p>Первоочередное право на получение жилища из государственного жилищного фонда или жилища, арендованного местным исполнительным органом в частном жилищном фонде, имеют имеют ветераны Великой Отечественной войны, дети-сироты и дети, оставшиеся без попечения родителей, многодетные матери, награжденные подвесками "Алтын алқа", "Күміс алқа" или получившие ранее звание "Мать-героиня", а также награжденные орденами "Материнская слава" I и II степени, многодетные семьи.</p>
				<p>Согласно статье 12 Правил постановки на учет граждан РК, нуждающихся в жилище из государственного жилищного фонда или жилище, арендованном местным исполнительным органом в частном жилищном фонде акимат ежегодно актуализирует списки очередников на получение жилья.</p>
				<p>Местные исполнительные органы района, города областного значения, городов республиканского значения, столицы ежегодно проводят инвентаризацию списков очередности граждан Республики Казахстан, состоящих на учете нуждающихся в жилище из коммунального жилищного фонда, в автоматизированном режиме посредством Единой национальной системы учета очередников интегрированной с информационными системами государственных органов с целью актуализации списков очередников, состоящих на учете нуждающихся в жилище.</p>
				<p>В случае отсутствия сведений в информационной системе либо изменений сведений о заявителе и членов его семьи, заявитель оповещается местными исполнительными органами посредствам sms – оповещения мобильный телефон о необходимости обновить соответствующие документы через Государственную корпорацию либо портал.</p>							
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading8">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
				В каких случаях и на каких основаниях жилья могут отказать в постановке на очередь при получении жилья?
				</button>
			</h5>
		</div>
		<div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>В постановке на учет для предоставления жилья вам могут отказать, если будет установлено, что гражданин стал нуждающимся в результате преднамеренного ухудшения своих жилищных условий в течение последних 5 лет путем: </p>
				<ul>
					<li>обмена жилого помещения;</li>
					<li>отчуждения пригодного для проживания жилища, принадлежавшего ему на праве собственности, независимо от того, в том же или другом населенном пункте РК оно находилось, кроме случаев, когда жилище приобретено местным исполнительным органом в соответствии со статьей 98 Закона «О жилищных отношениях»; </li>
					<li>разрушения или порчи жилища по его вине; </li>
					<li>выезда из жилища, при проживании в котором он не был нуждающимся в жилище из государственного жилищного фонда или жилище, арендованном местным исполнительным органом в частном жилищном фонде;</li>
					<li>вселения других лиц, кроме супруга, несовершеннолетних и нетрудоспособных детей, а также нетрудоспособных родителей.</li>
				</ul>							
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading9">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
				В каких случаях могут снять с очереди на получение жилья?
				</button>
			</h5>
		</div>
		<div id="collapse9" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>Согласно статье 73 Закона «О жилищных отношениях» акимат может снять вас с очереди на получение жилья, если:</p>
				<ul>
					<li>отпали основания для предоставления жилья;</li>
					<li>вы решили переехать на постоянное жительство в другой населенный пункт или уволились из государственного предприятия или государственного учреждения;</li>
					<li>представленная информация о необходимости  в жилье при подаче документов является не соответствующей действительности;</li>
					<li>вы получили земельный участок и завершили строительство собственного жилища или приобретение жилья;</li>
					<li>получения арендного жилища без права выкупа.</li>					
				</ul>
				<p>Не могут быть сняты с очереди дети-сироты и дети, оставшиеся без попечения родителей, а также неполные семьи, многодетные матери, награжденные подвесками "Алтын алқа", "Күміс алқа" или получившие ранее звание "Мать-героиня", а также награжденные орденами "Материнская слава" I и II степени, многодетные семьи, нуждающиеся в жилье и поставленные на учет, до получения жилища.</p>
				<p>О снятии с очереди вас обязательно должны известить в письменном виде в 10-дневный срок после принятия решения с указанием оснований снятия с учета. </p>							
			</div>
		</div>
	</div>				
</div>
		
{% endblock content %}