{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="card-header">
	<h2>{% trans "FAQ" %}</h2>
</div>
<div id="accordion">
	<div class="card" style="width:100%">
		<div class="card-header" id="heading1">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
				{% if LANGUAGE_CODE == 'kk' %}
					Тұрғын үйдің қандай түрлері бар?
				{% else %}
					Какие существуют типы жилья?
				{% endif %}				
				</button>
			</h5>
		</div>
		<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			<div class="card-body" >
				{% if LANGUAGE_CODE == 'kk' %}
					<p>"тұрғын үй қатынастары туралы" Заңға сәйкес тұрғын үйдің келесі түрлері бар:</p>
					<ul>
						<li> жеке тұрғын үй қоры-жеке немесе мемлекеттік емес заңды тұлғаларға және олардың бірлестіктеріне меншік құқығымен тиесілі тұрғын үйлер; </li>
						<li> мемлекеттік тұрғын үй қоры-мемлекетке меншік құқығымен тиесілі және коммуналдық тұрғын үй қорынан, мемлекеттік кәсіпорынның тұрғын үй қорынан, сондай-ақ мемлекеттік мекеменің тұрғын үй қорынан тұратын тұрғын үйлер;</li>
						<li> коммуналдық тұрғын үй қоры-жергілікті атқарушы органдардың (әкімдіктердің) қарамағындағы, тұрғын үйлерді пайдалануға беру жөніндегі арнаулы мемлекеттік мекемеге бекітілген тұрғын үйлер.</li>
						<li> мемлекеттік мекеменің тұрғын үй қоры-тұрғын үйлерді пайдалануға беру жөніндегі арнаулы мемлекеттік мекемені қоспағанда, мемлекеттік мекемелердің қарамағындағы тұрғын үйлер;</li>
						<li> мемлекеттік кәсіпорынның тұрғын үй қоры - мемлекеттік кәсіпорынның қарамағындағы тұрғын үйлер.</li>
						<li> сатып алу құқығынсыз жалға берілетін тұрғын үй-Қазақстан Республикасының азаматтарына коммуналдық тұрғын үй қорынан сатып алу құқығынсыз ақыға пайдалануға берілетін тұрғын үй.</li>
					</ul>
					<p>осылайша, ҚР тұрғын үй қоры барлық меншік нысандарындағы тұрғын үйлерден тұрады.  Әкімдіктен тұрғын үйді мемлекеттік тұрғын үй қорынан немесе әкімдік жалға алған жеке тұрғын үй қорынан алуға болады.</p>
					<p>қызметтік тұрғын үй-мемлекеттік мекеменің тұрғын үй қорынан берілетін және олардың еңбек қатынастарының сипатына байланысты міндеттерді орындау кезеңінде ҚР азаматтарының, сондай-ақ ҚР Халықты жұмыспен қамту туралы заңнамасына сәйкес жұмыспен қамтуға жәрдемдесудің белсенді шараларына қатысатын ҚР азаматтарының қоныстануына арналған ерекше құқықтық режимдегі тұрғын үй. Басқаша айтқанда, егер сіздің ұйымыңызда қарастырылған болса және қажетті шарттарға сәйкес келсе, Сіз қызметтік тұрғын үй ала аласыз. Қызметтік тұрғын үй Сіз мемлекеттік мекеменің қызметшісі болған кезеңге уақытша беріледі.</p>
				{% else %}
					<p>Согласно Закону «О жилищных отношениях» по праву собственности существуют следующие типы жилья:</p>
					<ul>
						<li> частный жилищный фонд - жилища, принадлежащие на праве собственности физическим или негосударственным юридическим лицам и их объединениям; </li>
						<li> государственный жилищный фонд - жилища, принадлежащие на праве собственности государству и состоящие из коммунального жилищного фонда, жилищного фонда государственного предприятия, а также жилищного фонда государственного учреждения;</li>
						<li> коммунальный жилищный фонд - жилища, находящиеся в ведении местных исполнительных органов (акиматов), закрепленные за специальным государственным учреждением по предоставлению жилищ в пользование.</li>
						<li> жилищный фонд государственного учреждения - жилища, находящиеся в ведении государственных учреждений, за исключением специального государственного учреждения по предоставлению жилищ в пользование;</li>
						<li> жилищный фонд государственного предприятия - жилища, находящиеся в ведении государственного предприятия.</li>
						<li> арендное жилище без права выкупа – жилище, предоставляемое из коммунального жилищного фонда гражданам Республики Казахстан в пользование за плату без права выкупа.</li>
					</ul>
					<p>Таким образом, жилищный фонд РК состоит из жилищ всех форм собственности.  Жилье от акимата вы можете получить из государственного жилищного фонда или из арендованного акиматом частного жилищного фонда.</p>
					<p>Служебное жилье - жилье с особым правовым режимом, предоставляемое из жилищного фонда государственного учреждения и предназначенное для заселения гражданами РК на период выполнения ими обязанностей, связанных с характером их трудовых отношений, а также гражданами РК, участвующими в активных мерах содействия занятости в соответствии с законодательством РК о занятости населения. Иными словами вы можете получить служебное жилье, если это предусмотрено в вашей организации и соответствуете необходимым условиям. Служебное жилье предоставляется временно, на тот период, пока вы являетесь служащим государственного учреждения.</p>
				{% endif %}							
			</div>
		</div>
	</div>
	<div class="card" style="width:100%">
		<div class="card-header" id="heading2">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
				{% if LANGUAGE_CODE == 'kk' %}
					Мемлекеттік тұрғын үй қорынан тұрғын үй алуға кім үміткер бола алады?
				{% else %}
					Кто может претендовать на получение жилья из государственного жилищного фонда?
				{% endif %}
				
				</button>
			</h5>
		</div>
		<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p>ҚР-да тұрғын үй алуға кезекке тұру үшін тиісті елді мекенде (тұру мерзіміне қарамастан) тұрақты тұру қажет.</p>
					<p>Коммуналдық немесе мемлекеттік пәтерлер коммуналдық тұрғын үй қорынан немесе жеке тұрғын үй қорынан (әкімдіктер жалдаған пәтерлер осы Қорға кіреді) келесі тұлғаларға беріледі:</p>
					<ul>
						<li>Ұлы Отан соғысының ардагерлеріне (жеңілдіктердің болуы туралы анықтаманы онлайн алу*);</li>
						<li > жетім балаларға, ата-анасының қамқорлығынсыз қалған балаларға;</li>
						<li>"Алтын алқа", "Күміс алқа" алқаларымен наградталған немесе бұрын "Батыр ана" атағын алған, сондай-ақ I және II дәрежелі "Ана даңқы" ордендерімен наградталған көп балалы аналарға, көп балалы отбасыларға. Азаматтардың көрсетілген санаттарының жиынтық орташа айлық табысы отбасының әрбір мүшесіне республикалық бюджет туралы заңда тиісті қаржы жылына белгіленген ең төменгі күнкөріс деңгейінің 3,1 еселенген мөлшерінен төмен тұрғын үй беру туралы өтініш бергенге дейінгі соңғы он екі айда құрауға тиіс;</li>
						отбасының әрбір мүшесіне республикалық бюджет туралы заңда тиісті қаржы жылына белгіленген ең төменгі күнкөріс деңгейінің 3,1 еселенген мөлшерінен төмен тұрғын үй беру туралы өтініш жасағанға дейінгі соңғы он екі айдағы жиынтық орташа айлық табысы бар халықтың әлеуметтік осал топтарына . Ең төменгі күнкөріс деңгейінің 3,1 еселік коэффициенті жетім балаларға, ата-анасының қамқорлығынсыз қалған балаларға және мүгедек балаларға қолданылмайды;</li>
						<li>мемлекеттік қызметшілерге, бюджеттік ұйымдардың қызметкерлеріне, әскери қызметшілерге, ғарышкерлікке кандидаттарға, ғарышкерлерге және мемлекеттік сайланбалы лауазымдарды атқаратын адамдарға;</li>
						<li> ҚР заңнамасында белгіленген тәртіппен жалғыз тұрғын үйі апатты деп танылған азаматтарға.</li>
					</ul>
					<p> * ескерту. Жеңілдіктердің (Ұлы Отан соғысына қатысушылар, Чернобыль атом электр станциясындағы апаттарды жоюшылар, интернационалист-жауынгерлер) бар екендігі туралы анықтаманы онлайн алуға болады, ол үшін ЭЦҚ қажет емес. Сіз туыстарыңызға көмектесе аласыз, өйткені сіз тек өзіңіз үшін ғана емес, туысқаныңыз үшін де анықтама ала аласыз.</p>
					<p>Бұл ретте, "тұрғын үй қатынастары туралы" Заңның 69-бабына сәйкес Сіз тұрғын үйге мұқтажсыз егер:</p>
					<ul>
						<li>коммуналдық тұрғын үй қорынан немесе мемлекеттік кәсіпорынның тұрғын үй қорынан тұрғын үйді есепке қою кезінде және оны беру сәтінде сізде ҚР аумағында меншік құқығында тұрғын үй жоқ;</li>
						<li>мемлекеттік мекеменің тұрғын үй қорынан тұрғын үйді есепке қою кезінде және оны беру сәтінде сізде осы елді мекенде меншік құқығында тұрғын үй жоқ;</li>
						<li > сізде сатып алу құқығынсыз жалға берілетін тұрғын үй жоқ;</li>
						<li>сіздің отбасыңыз тұратын тұрғын үй белгіленген санитарлық және техникалық талаптарға сәйкес келмейді;</li>
						<li> көршілес, оқшауланбаған тұрғын үй-жайларда екі және одан да көп отбасы тұрады;</li>
						<li>Сіздің отбасыңыздың құрамында кейбір созылмалы аурулардың ауыр түрлерімен ауыратын науқастар бар (ҚР Үкіметі бекіткен аурулардың тізімі бойынша), онда олармен бір үй-жайда (пәтерде) бірге тұру мүмкін болмайды.</li>
					</ul>
				{% else %}
					<p>Для постановки в очередь на получение жилья в РК  необходимо постоянно проживать в соответствующем населенном пункте (независимо от срока проживания).</p>
					<p>Коммунальные или государственные квартиры  предоставляются из коммунального жилищного фонда или частного  жилищного фонда (квартиры, арендованные акиматами, входят в этот фонд) следующим лицам:</p>
					<ul>
						<li>ветеранам Великой Отечественной войны (получить справку о наличии льгот онлайн*);</li>
						<li>детям-сиротам, детям, оставшимся без попечения родителей;</li>
						<li>многодетным матерям, награжденным подвесками "Алтын алқа", "Күміс алқа" или получившим ранее звание "Мать-героиня", а также награжденным орденами "Материнская слава" I и II степени, многодетным семьям. Совокупный среднемесячный доход указанных категорий граждан должен составлять за последние двенадцать месяцев перед обращением о предоставлении жилища на каждого члена семьи ниже 3,1-кратного размера прожиточного минимума, установленного на соответствующий финансовый год законом о республиканском бюджете;</li>
						<li>социально уязвимым слоям населения, имеющим совокупный среднемесячный доход за последние двенадцать месяцев перед обращением о предоставлении жилья на каждого члена семьи ниже 3,1-кратного размера прожиточного минимума, установленного на соответствующий финансовый год законом о республиканском бюджете. Коэффициент 3,1-кратного размера прожиточного минимума не распространяется на детей-сирот, детей, оставшихся без попечения родителей, и детей-инвалидов;</li>
						<li>государственным служащим, работникам бюджетных организаций, военнослужащим, кандидатам в космонавты, космонавтам и лицам, занимающим государственные выборные должности;</li>
						<li>гражданам, единственное жилище которых признано аварийным в порядке, установленном законодательством РК.</li>
					</ul>
					<p>*Примечание. Получить справку о наличии льгот (участникам Великой Отечественной войны, ликвидаторам аварий на Чернобыльской АЭС, воинам-интернационалистам) можно онлайн, для этого не нужна ЭЦП. Вы можете помочь родственникам, так как получить справку можно не только на себя, но и на родственника.</p>
					<p>При этом, согласно статье 69 Закона «О Жилищных отношениях» вы являетесь нуждающимися в жилье если:</p>
					<ul>
						<li>вы не имеете жилья на праве собственности на территории РК при постановке на учет и на момент предоставления жилища из коммунального жилищного фонда или жилищного фонда государственного предприятия;</li>
						<li>вы не имеете жилища на праве собственности в данном населенном пункте при постановке на учет и на момент предоставления жилища из жилищного фонда государственного учреждения;</li>
						<li>вы не имеете предоставленного арендного жилища без права выкупа;</li>
						<li>жилье, в котором проживает ваша семья, не отвечает установленным санитарным и техническим требованиям;</li>
						<li>в смежных, неизолированных жилых помещениях проживает две и более семей;</li>
						<li>в составе вашей семьи имеются больные, страдающие тяжелыми формами некоторых хронических заболеваний (по списку заболеваний, утвержденному Правительством РК), при которых совместное проживание с ними в одном помещении (квартире) становится невозможным.</li>
					</ul>	
				{% endif %}
									
			</div>
		</div>
	</div>		
	<div class="card" style="width:100%">
		<div class="card-header" id="heading3">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
				{% if LANGUAGE_CODE == 'kk' %}
					Отбасына қосымша баспана берілуі мүмкін аурулардың тізімі:
				{% else %}
					Список заболеваний, при котором семье может быть предоставлено дополнительное жилье
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<ul>
						<li>тұрақты психотикалық белгілері бар психикалық аурулар және жеке тұлғаның айқын өзгерістері, онда зардап шегушімен бірге тұру басқаларға мүмкін емес.</li>
						<li>орталық жүйке жүйесінің органикалық және жарақаттан кейінгі зақымдануы, аяқ-қолдар мен жамбас мүшелерінің тұрақты ауыр бұзылулары.</li>
						<li>нәжіс, зәр шығару және қынап фистулалары, қуық стомасы, табиғи емес анус.</li>
						<li>бронх демікпесінің ауыр түрі, үздіксіз қайталанатын курс, жиі ұстамалармен, III дәрежелі тыныс алу жеткіліксіздігімен асқынған.</li>
						<li>мотор функцияларының жоғалуымен тұқым қуалайтын прогрессивті жүйке-бұлшықет дистрофиясының ауыр түрлері.</li>
						<li>қант диабеті I түрі, ауыр түрі.</li>
					</ul>:
				{% else %}
					<ul>
						<li>Психические заболевания со стойкой психотической симптоматикой и выраженными изменениями личности, при которых совместное жительство со страдающим невозможно для окружающих.</li>
						<li>Органические и посттравматические поражения центральной нервной системы со стойкими тяжелыми нарушениями функций конечностей и функций тазовых органов.</li>
						<li>Каловые, мочевые и влагалищные свищи, стома мочевого пузыря, противоестественный анус.</li>
						<li>Тяжелая форма бронхиальной астмы, непрерывно-рецидивирующее течение, с частыми приступами, осложненной дыхательной недостаточностью III степени.</li>
						<li>Тяжелые формы наследственных прогрессирующих нервно-мышечных дистрофий с выпадением двигательных функций.</li>
						<li>Сахарный диабет I тип, тяжелая форма.</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading4">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
				{% if LANGUAGE_CODE == 'kk' %}
					Тұрғын үйді мемлекеттен кім бөледі?
				{% else %}
					Кто распределяет жилье от государства?
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p>коммуналдық тұрғын үй қорынан тұрғын үй немесе жеке тұрғын үй қорынан жергілікті атқарушы орган жалдаған тұрғын үй өтініш берушінің тұрғылықты жері бойынша әкімдіктің шешімі бойынша тұрғын үй комиссиясының шешімі және жасалған тұрғын үйді жалдау шарты негізінде беріледі.</p>
					<p>мемлекеттік кәсіпорынның тұрғын үй қорынан тұрғын үй мемлекеттік кәсіпорынның тұрғын үй комиссиясының тұрғын үй беру туралы шешімі және жасалған тұрғын үйді жалдау шарты негізінде беріледі.</p>
					<p>мемлекеттік мекеменің тұрғын үй қорынан тұрғын үй мемлекеттік мекеменің тұрғын үй комиссиясының тұрғын үй беру туралы шешімі және жасалған тұрғын үйді жалдау шарты негізінде беріледі.</p>
					<p>құжаттарды тапсыру кезінде тұрғын үй комиссиясы құрылады, оның шешімі бойынша бұрын тапсырылған құжаттардың негізінде тұрғын үй беріледі. Тұрғын үй комиссиясы 30 күнтізбелік күн ішінде кезекке қою туралы шешім қабылдайды, содан кейін көрсетілген кезек нөмірі бар хабарлама береді.</p>
					<p>тұрғын үй комиссиясы-бұл әкімдіктер, мемлекеттік кәсіпорындар, мемлекеттік мекемелер жанынан құрылатын және тұрғын үй мәселелері бойынша шешім шығаруға уәкілетті алқалы орган. Тұрғын үй комиссиясы тұрақты негізде жұмыс істейді.</p>
					<p>тұрғын үй комиссиясы кемінде бес адамнан тұрады (міндетті түрде мүшелердің тақ саны) және оның құрамына кәсіпорын басшысы (орталық мемлекеттік органдарды қоспағанда), жауапты хатшы, заң, қаржы, кадр қызметтерінің басшылары (бар болса) және кәсіподақ ұйымдарының өкілдері кіреді.</p>
					<p>тұрғын үй комиссиясы тұрғын үйге үміткерлердің өтініштерін қарайды, ұсынылған құжаттардың толықтығын, дұрыстығын тексереді, өтінішті қанағаттандыру немесе бас тарту туралы шешім қабылдайды. Жалға алу жағдайында тұрғын үйге ақы төлеу мөлшерін және жалдау (жалдау) шартын жасасу туралы мәселелерді анықтайды, ал қызметтік немесе мемлекеттік тұрғын үйді жекешелендіру жағдайында тұрғын үй комиссиясы жекешелендіру шартын жасасу туралы мәселелерді қарайды және төлем шотын ұсынады.  Сондай-ақ, тұрғын үй комиссиясы мемлекеттік органдарға берілген ақпарат бойынша сұрау салуларды орындайды, есеп айырысуларды жүргізеді және материалдар мен деректердің сақталуына және т.б. жауапты болады.</p>
				{% else %}
					<p>Жилье из коммунального жилищного фонда или жилище, арендованное местным исполнительным органом в частном жилищном фонде, предоставляется по решению акимата по месту жительства заявителя на основании решения жилищной комиссии и заключенного договора найма жилища.</p>
					<p>Жилье из жилищного фонда государственного предприятия предоставляется на основании решения жилищной комиссии государственного предприятия о предоставлении жилища и заключенного договора найма жилища.</p>
					<p>Жилье из жилищного фонда государственного учреждения предоставляется на основании решения жилищной комиссии государственного учреждения о предоставлении жилища и заключенного договора найма жилища.</p>
					<p>При подаче документов создается жилищная комиссия, по решению которой предоставляется жилье на основании ранее сданных документов. Жилищная комиссия принимает решение о постановке в очередь в течение 30 календарных дней, после чего выдает уведомление с указанным номером очереди.</p>
					<p>Жилищная комиссия – это коллегиальный орган, который создается при акиматах, государственных предприятиях, государственных учреждениях, и уполномочен на вынесение решений по жилищным вопросам. Жилищная комиссия действует на постоянной основе.</p>
					<p>Жилищная комиссия состоит не менее чем из пяти человек (обязательно нечетное количество членов), и в ее состав входят руководитель предприятия (за исключением центральных государственных органов), ответственный секретарь, руководители юридической, финансовой, кадровой служб (при наличии) и представители профсоюзных организаций.</p>
					<p>Жилищная комиссия рассматривает заявления претендентов на жилье, проверяет предоставленные документы на полноту, достоверность, принимает решение об удовлетворении заявления или отказе. В случае аренды определяет размер платы за жилье и вопросы о заключения договора найма (аренды), а в случае приватизации служебного или государственного жилья жилищная комиссия рассматривает вопросы о заключении договора приватизации и предъявляет счет на оплату.  Также жилищная комиссия выполняет запросы в государственные органы по предоставленной информации, производит расчеты и отвечает за сохранность материалов и данных и прочее.</p>							
				{% endif %}
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading5">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
				{% if LANGUAGE_CODE == 'kk' %}
					Мемлекеттен тұрғын үй алаңының қандай мөлшерін талап етуге болады және тұрғын үй қандай болуы керек?
				{% else %}
					На какой размер жилой площади от государства можно претендовать и каким должно быть жилье?
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p>"тұрғын үй қатынастары туралы" Заңның 75-бабының 1-тармағына сәйкес мемлекеттен тұрғын үй бір адамға кемінде 15 шаршы метр және пайдалы алаңның 18 шаршы метрінен аспайтын мөлшерде, бірақ кемінде бір бөлмелі пәтер немесе жатақханадағы бөлме берілуі мүмкін.</p>
					<p>егер отбасында жоғарыда аталған аурулармен ауыратындар болса, онда оған жеке бөлме беріледі. Сондай-ақ, егер отбасында жүктілік мерзімі 22 аптадан асатын жүкті әйел болса, алынған пәтердің ауданы үлкенірек болуы мүмкін.</p>
					<p>"тұрғын үй қатынастары туралы" Заңның 76-бабына сәйкес берілетін тұрғын үй абаттандырылуға, қала шегінде болуға және мүгедектер үшін қажетті жайлылықты ескеруге тиіс.</p>
				{% else %}
					<p>Согласно п.1 статьи 75 Закона «О жилищных отношениях» жилье от государства может быть предоставлено в размере не менее 15 квадратных метров и не более 18 квадратных метров полезной площади на человека, но не менее однокомнатной квартиры или комнаты в общежитии.</p>
					<p>Если в семье есть страдающие заболеваниями, указанными выше, то ему предоставляется отдельная комната. Также площадь получаемой квартиры может быть больше, если в семье есть беременная женщина со сроком беременности более 22 недель.</p>
					<p>Согласно статье 76 Закона «О жилищных отношениях» предоставляемое жилье должно быть благоустроенным, находиться в черте города и с учетом необходимых удобств для инвалидов.</p>							
				{% endif %}				
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading6">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
				{% if LANGUAGE_CODE == 'kk' %}
					Тұрғын үйге кезекке тұру үшін қайда жүгіну керек және бұл жағдайда қандай құжаттар қажет?
				{% else %}
					Куда обращаться для того, чтобы встать в очередь на жилье и какие документы при этом необходимы?
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p > екі жол бар. Құжаттардың толық пакеті бар "азаматтарға арналған үкімет" мемлекеттік корпорациясы " коммерциялық емес акционерлік қоғамы.  Осы мемлекеттік қызметті онлайн алған кезде кезекке қою үшін құжаттарды тапсыру процесінде уақытты үнемдеуге болады. Ол үшін осы сілтеме бойынша қажетті құжаттарды тіркеп, ЭЦҚ сұрауына қол қою қажет.</p>
				{% else %}
					<p>Существует два пути обращения. Некоммерческое акционерное общество «Государственная корпорация «Правительство для граждан» с  полным пакетом документов.  Сэкономить время на процессе подачи документов для постановки в очередь можно при получении данной государственной услуги онлайн. Для этого необходимо пройти по этой ссылке прикрепить необходимые документы и подписать запрос ЭЦП.</p>							
				{% endif %}
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading7">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
				{% if LANGUAGE_CODE == 'kk' %}
					Мен мемлекеттен баспана алған кезде немесе қандай жағдайда бас тартуым мүмкін?
				{% else %}
					Когда я получу жилье от государства, или в каких случаях мне могут отказать?
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p>өкінішке орай, бұл сұраққа ешкім жауап бермейді. 30 күнтізбелік күн ішінде сіз тұрғын үйді кезекке қою туралы хабарлама немесе бас тарту туралы дәлелді жауап аласыз. Хабарламада сіздің ағымдағы кезегіңіздің нөмірі де көрсетіледі. Егер құжаттар онлайн түрде берілсе, онда хабарлама Сіздің жеке кабинетіңізге келеді, ал егер әкімдікте болса, сіз оны жеке ала аласыз немесе Сізге пошта арқылы жібере аласыз.</p>
					<p>интернеттегі тұрғын үй кезегін бақылау өте ыңғайлы. Ол үшін ЭЦҚ алудың қажеті жоқ және құжаттардың қалай берілгені маңызды емес. ЖСН мен сіз кезекте тұрған аймақты көрсету жеткілікті.</p>
					<p>кезектілік тәртібі өзгеруі мүмкін, тұрғын үй берілетін азаматтардың топтары бар (әр топ бойынша өз кезегі бар):</p>
					<ul>
						<li>Ұлы Отан соғысының ардагерлеріне;</li>
						<li >жетім балаларға, ата-анасының қамқорлығынсыз қалған балаларға;</li>
						<li>"Алтын алқа", "Күміс алқа" алқаларымен наградталған немесе бұрын "Батыр ана" атағын алған, сондай-ақ I және II дәрежелі "Ана даңқы" ордендерімен наградталған көп балалы аналарға, көп балалы отбасыларға. Азаматтардың көрсетілген санаттарының жиынтық орташа айлық табысы отбасының әрбір мүшесіне республикалық бюджет туралы заңда тиісті қаржы жылына белгіленген ең төменгі күнкөріс деңгейінің 3,1 еселенген мөлшерінен төмен тұрғын үй беру туралы өтініш бергенге дейінгі соңғы он екі айда құрауға тиіс;</li>
						<li> халықтың әлеуметтік осал топтары;</li>
						<li>мемлекеттік қызметшілер, бюджеттік ұйымдардың қызметкерлері, әскери қызметшілер, ғарышкерлікке кандидаттар, ғарышкерлер және мемлекеттік сайланбалы лауазымдарды атқаратын адамдар;</li>
						<li> ҚР заңнамасында белгіленген тәртіппен жалғыз тұрғын үйі апатты деп танылған азаматтар.</li>
					</ul>
					<p>мемлекеттік тұрғын үй қорынан тұрғын үй немесе жеке тұрғын үй қорынан жергілікті атқарушы орган жалдаған тұрғын үй алуға бірінші кезекте Ұлы Отан соғысының ардагерлері, жетім балалар және ата-анасының қамқорлығынсыз қалған балалар, "Алтын алқа", "Күміс алқа" алқаларымен наградталған немесе бұрын атақ алған көп балалы аналар құқылы "Батыр ана", сондай-ақ I және II дәрежелі "Ана даңқы" ордендерімен марапатталған көп балалы отбасылар.</p>
					<p>мемлекеттік тұрғын үй қорынан тұрғын үйге немесе жеке тұрғын үй қорынан жергілікті атқарушы орган жалдаған тұрғын үйге мұқтаж ҚР азаматтарын есепке қою қағидаларының 12-бабына сәйкес әкімдік жыл сайын тұрғын үй алуға Кезекте тұрғандардың тізімін өзектендіреді.</p>
					<p>ауданның, облыстық маңызы бар қаланың, Республикалық маңызы бар қалалардың, астананың жергілікті атқарушы органдары жыл сайын коммуналдық тұрғын үй қорынан тұрғын үйге мұқтаждар есебінде тұрған Қазақстан Республикасы азаматтарының кезектілік тізімдеріне мемлекеттік органдардың ақпараттық жүйелерімен интеграцияланған кезекте тұрғандарды есепке алудың бірыңғай ұлттық жүйесі арқылы автоматтандырылған режимде Кезекте тұрғандардың тізімдерін өзектендіру мақсатында түгендеу жүргізеді тұрғын үйге мұқтаждарды есепке алу.</p>
					<p>ақпараттық жүйеде мәліметтер болмаған не өтініш беруші мен оның отбасы мүшелері туралы мәліметтер өзгерген жағдайда, өтініш берушіні Жергілікті атқарушы органдар Мемлекеттік корпорация не портал арқылы тиісті құжаттарды жаңарту қажеттігі туралы ұялы телефонды sms – құлақтандыру арқылы хабардар етеді.</p>
				{% else %}
					<p>К сожалению, точно на этот вопрос вам никто не ответит. В течение 30 календарных дней вы получите уведомление о постановке в очередь на получение жилья либо мотивированный ответ об отказе. В уведомлении будет указан также номер вашей текущей очереди. Если документы были поданы онлайн – то уведомление придет в ваш личный кабинет, а если в акимате, то можно забрать лично либо вам пришлют почтой.</p>
					<p>Очень удобно отслеживать очередь на получение жилья онлайн. Для этого нет необходимости получать ЭЦП и абсолютно неважно, каким образом были поданы документы. Достаточно указать ИИН и регион, в котором вы состоите в очереди.</p>
					<p>Порядок очередности может меняться, существуют группы граждан, согласно которым предоставляется жилье (по каждой группе существует своя очередь):</p>
					<ul>
						<li>ветеранам Великой Отечественной войны;</li>
						<li>детям-сиротам, детям, оставшимся без попечения родителей;</li>
						<li>многодетным матерям, награжденным подвесками "Алтын алқа", "Күміс алқа" или получившим ранее звание "Мать-героиня", а также награжденным орденами "Материнская слава" I и II степени, многодетным семьям. Совокупный среднемесячный доход указанных категорий граждан должен составлять за последние двенадцать месяцев перед обращением о предоставлении жилища на каждого члена семьи ниже 3,1-кратного размера прожиточного минимума, установленного на соответствующий финансовый год законом о республиканском бюджете;</li>
						<li>социально уязвимые слои населения;</li>
						<li>государственные служащие, работники бюджетных организаций, военнослужащие, кандидаты в космонавты, космонавты и лица, занимающие государственные выборные должности;</li>
						<li>граждане, единственное жилище которых признано аварийным в порядке, установленном законодательством РК.</li>
					</ul>
					<p>Первоочередное право на получение жилища из государственного жилищного фонда или жилища, арендованного местным исполнительным органом в частном жилищном фонде, имеют имеют ветераны Великой Отечественной войны, дети-сироты и дети, оставшиеся без попечения родителей, многодетные матери, награжденные подвесками "Алтын алқа", "Күміс алқа" или получившие ранее звание "Мать-героиня", а также награжденные орденами "Материнская слава" I и II степени, многодетные семьи.</p>
					<p>Согласно статье 12 Правил постановки на учет граждан РК, нуждающихся в жилище из государственного жилищного фонда или жилище, арендованном местным исполнительным органом в частном жилищном фонде акимат ежегодно актуализирует списки очередников на получение жилья.</p>
					<p>Местные исполнительные органы района, города областного значения, городов республиканского значения, столицы ежегодно проводят инвентаризацию списков очередности граждан Республики Казахстан, состоящих на учете нуждающихся в жилище из коммунального жилищного фонда, в автоматизированном режиме посредством Единой национальной системы учета очередников интегрированной с информационными системами государственных органов с целью актуализации списков очередников, состоящих на учете нуждающихся в жилище.</p>
					<p>В случае отсутствия сведений в информационной системе либо изменений сведений о заявителе и членов его семьи, заявитель оповещается местными исполнительными органами посредствам sms – оповещения мобильный телефон о необходимости обновить соответствующие документы через Государственную корпорацию либо портал.</p>							
				{% endif %}
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading8">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
				{% if LANGUAGE_CODE == 'kk' %}
					Қандай жағдайларда және қандай негізде тұрғын үй алу кезінде тұрғын үйді кезекке қоюдан бас тартуы мүмкін?
				{% else %}
					В каких случаях и на каких основаниях жилья могут отказать в постановке на очередь при получении жилья?
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p>егер азамат соңғы 5 жыл ішінде тұрғын үй жағдайының қасақана нашарлауы нәтижесінде мұқтаж болып қалғаны анықталса, Сізге тұрғын үй беру үшін есепке қоюдан бас тартылуы мүмкін: </p>
					<ul>
						<li>тұрғын үй айырбастау;</li>
						<li>"тұрғын үй қатынастары туралы" Заңның 98-бабына сәйкес жергілікті атқарушы орган тұрғын үйді сатып алған жағдайларды қоспағанда, оған меншік құқығымен тиесілі тұрғын үйді, оның ҚР сол немесе басқа елді мекенінде болғанына қарамастан, иеліктен шығару; </li>
						<li>оның кінәсінен тұрғын үйді бұзу немесе бүлдіру; </li>
						<li>ол тұрған кезде мемлекеттік тұрғын үй қорынан тұрғын үйге немесе жеке тұрғын үй қорынан жергілікті атқарушы орган жалдаған тұрғын үйге мұқтаж болмаған тұрғын үйден шығу;</li>
						<li>жұбайынан, кәмелетке толмағандар мен еңбекке жарамсыз балалардан, сондай-ақ еңбекке жарамсыз ата-аналардан басқа адамдардың қоныстануы.</li>
					</ul>
				{% else %}
					<p>В постановке на учет для предоставления жилья вам могут отказать, если будет установлено, что гражданин стал нуждающимся в результате преднамеренного ухудшения своих жилищных условий в течение последних 5 лет путем: </p>
					<ul>
						<li>обмена жилого помещения;</li>
						<li>отчуждения пригодного для проживания жилища, принадлежавшего ему на праве собственности, независимо от того, в том же или другом населенном пункте РК оно находилось, кроме случаев, когда жилище приобретено местным исполнительным органом в соответствии со статьей 98 Закона «О жилищных отношениях»; </li>
						<li>разрушения или порчи жилища по его вине; </li>
						<li>выезда из жилища, при проживании в котором он не был нуждающимся в жилище из государственного жилищного фонда или жилище, арендованном местным исполнительным органом в частном жилищном фонде;</li>
						<li>вселения других лиц, кроме супруга, несовершеннолетних и нетрудоспособных детей, а также нетрудоспособных родителей.</li>
					</ul>
				{% endif %}				
			</div>
		</div>
	</div>				
	<div class="card" style="width:100%">
		<div class="card-header" id="heading9">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
				{% if LANGUAGE_CODE == 'kk' %}
					Қандай жағдайларда тұрғын үй алу кезегінен алып тастай алады?
				{% else %}
					В каких случаях могут снять с очереди на получение жилья?
				{% endif %}
				</button>
			</h5>
		</div>
		<div id="collapse9" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				{% if LANGUAGE_CODE == 'kk' %}
					<p>"тұрғын үй қатынастары туралы" Заңның 73-бабына сәйкес әкімдік сізді тұрғын үй алу кезегінен алып тастай алады, егер:</p>
					<ul>
						<li>тұрғын үй беруге негіз жоқ;</li>
						<li > сіз басқа елді мекенге тұрақты тұруға көшуге шешім қабылдадыңыз немесе мемлекеттік кәсіпорыннан немесе мемлекеттік мекемеден зейнетке шықтыңыз;</li>
						<li>құжаттарды тапсыру кезінде тұрғын үйге қажеттілік туралы ұсынылған ақпарат шындыққа сәйкес келмейді;</li>
						<li>сіз жер учаскесін алдыңыз және өз үйіңіздің құрылысын немесе тұрғын үй сатып алуды аяқтадыңыз;</li>
						<li>сатып алу құқығынсыз жалға берілетін тұрғын үй алу.</li>					
					</ul>
					<p>жетім балалар мен ата-анасының қамқорлығынсыз қалған балалар, сондай-ақ толық емес отбасылар, "Алтын алқа", "Күміс алқа" алқаларымен наградталған немесе бұрын "Батыр Ана" атағын алған, сондай-ақ I және II "Ана даңқы" ордендерімен наградталған көп балалы аналар кезектен шығарыла алмайды тұрғын үйді алғанға дейін тұрғын үйге мұқтаж және есепке қойылған дәрежелер, көп балалы отбасылар.</p>
					<p>кезектен шығару туралы Сізге міндетті түрде есептен шығару негіздерін көрсете отырып, шешім қабылданғаннан кейін 10 күн мерзімде жазбаша түрде хабарлау қажет. </p>
				{% else %}
					<p>Согласно статье 73 Закона «О жилищных отношениях» акимат может снять вас с очереди на получение жилья, если:</p>
					<ul>
						<li>отпали основания для предоставления жилья;</li>
						<li>вы решили переехать на постоянное жительство в другой населенный пункт или уволились из государственного предприятия или государственного учреждения;</li>
						<li>представленная информация о необходимости  в жилье при подаче документов является не соответствующей действительности;</li>
						<li>вы получили земельный участок и завершили строительство собственного жилища или приобретение жилья;</li>
						<li>получения арендного жилища без права выкупа.</li>					
					</ul>
					<p>Не могут быть сняты с очереди дети-сироты и дети, оставшиеся без попечения родителей, а также неполные семьи, многодетные матери, награжденные подвесками "Алтын алқа", "Күміс алқа" или получившие ранее звание "Мать-героиня", а также награжденные орденами "Материнская слава" I и II степени, многодетные семьи, нуждающиеся в жилье и поставленные на учет, до получения жилища.</p>
					<p>О снятии с очереди вас обязательно должны известить в письменном виде в 10-дневный срок после принятия решения с указанием оснований снятия с учета. </p>							
				{% endif %}
			</div>
		</div>
	</div>				
</div>
		
{% endblock content %}