{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}
	<script src={% static "js/scroll.js" %}></script>
{% endblock header %}
{% block content %}
<div class="jumbotron">
	{% if LANGUAGE_CODE == 'kk' %}
		<h1> "Uya" электрондық кезегі</h1>
	{% else %}
		<h1>Электронная очередь “Uya”</h1>
	{% endif %}
	
	<p class="lead"></p>
	<hr class="my-4">
	{% if LANGUAGE_CODE == 'kk' %}
		<p>тұрғын үй мәселесі біздің заманымыздағы ең өзекті мәселелердің бірі болып табылады. Оны шешудің әртүрлі жолдары бар: банктерді сатып алу, ипотекалық бағдарламалар, қызметтік тұрғын үй алу, кейіннен сатып алу арқылы жалға берілетін тұрғын үй алу, Мемлекеттік бағдарлама бойынша тұрғын үй алу немесе азаматтардың жекелеген топтары үшін әкімдіктен тұрғын үй алу. Біз осы мақалада мемлекеттен тұрғын үй алуға кезекке қою тәртібі туралы айтып береміз.​</p>
		<p>мемлекеттік тұрғын үй қорынан тұрғын үй алудың жалпы схемасы келесідей:</p>
		<ul style="text-align: left;">
			<li>әкімдікке немесе онлайн режимінде қажетті құжаттарды жинау және тапсыру.</li>
			<li > егер құжаттар жақсы болса-30 күнтізбелік күн ішінде хабарлама алу және кезекті қадағалау (<a href="https://egov.kz/services/P18.POSITION/"target="_blank"rel="noopener noreferrer" >мұны онлайн режимінде қалай жасау керектігін біліңіз</a>).</li>
			<li>тұрғын үй комиссиясының құжаттарды қарауы және шешім беру.</li>
			<li>шарт жасасу және тұрғын үй алу.</li>
		</ul>
	{% else %}
		<p>Жилищный вопрос является одним из самых острых в наше время. Существуют различные пути его разрешения: покупка, ипотечные программы банков, получение служебного жилья, получение арендного жилья с последующим выкупом, получение жилья по государственной программе или получение жилья от акимата для отдельных групп граждан. О порядке постановки в очередь на получение жилья от государства мы расскажем в данной статье.​</p>
		<p>Общая схема получения жилья из государственного жилищного фонда выглядит подобным образом:​</p>
		<ul style="text-align: left;">
			<li>Сбор и подача необходимых документов в акимат или онлайн.</li>
			<li>Если с документами все в порядке – получение уведомления в течение 30 календарных дней и отслеживание очереди (<a href="https://egov.kz/services/P18.POSITION/" target="_blank"rel="noopener noreferrer">узнайте, как это сделать онлайн</a>).</li>
			<li>Рассмотрение жилищной комиссией документов и выдача решения.</li>
			<li>Заключение договора и получение жилья.</li>
		</ul>
	{% endif %}
	
	<hr class="my-4">
	{% if user.is_authenticated %}
		{% if request.user.groups.all.0.name == "Managements" or request.user.groups.all.0.name == "Commissions" or request.user.groups.all.0.name == "Managers" %}
			{% if request.user.groups.all.0.name == "Managements" %}
			<p><a class="nav-link" href="{% url 'report' %}">Отчеты</a></p>
			{% endif %}
			{% if request.user.groups.all.0.name == "Commissions" %}
			<p><a class="nav-link" href="{% url 'statement_index' %}">{% trans "Consider_applications" %}</a></p>
			{% endif %}
			{% if request.user.groups.all.0.name == "Managers" %}
			<p><a class="nav-link" href="{% url 'statement_index' %}">{% trans "Consider_applications" %}</a></p>
			{% endif %}			
		{% else %}
		{% if LANGUAGE_CODE == 'kk' %}
			<p><a class="nav-link" href="{% url 'statement_create' %}">Өтініш беру</a></p>
			<p><a class="nav-link" href="{% url 'statement_list' %}">Өтінішті қадағалаңыз</a></p>
			<p><a class="nav-link" href="{% url 'history_list' %}">Тарихты қарау</a></p>
		{% else %}
			<p><a class="nav-link" href="{% url 'statement_create' %}">Подать заявление</a></p>
			<p><a class="nav-link" href="{% url 'statement_list' %}">Отследить заявление</a></p>
			<p><a class="nav-link" href="{% url 'history_list' %}">Просмотреть историю</a></p>
		{% endif %}
		{% endif %}
	{% endif %}
</div>
{% endblock content %}


